*{
    box-sizing: border-box;
  
}
.active {
    background-color: #FF5D25;
    color: #FFFF;
    padding: 10px;
    border-radius: 4px;
}
a{
    border:solid 1px black;
    padding: 10px;
    text-decoration: none;
}